
.place
  padding 1px
.week
  padding 1px
  cursor pointer
  transform scale(1)
  &:hover
    & > *
      background-color mix(white, #0082E6, 50%) !important
    transition 300ms
    z-index 2
    transform scale(2)
