
v-layout#home__page(fill-height, align-center, justify-center)
  v-card
    v-card-title.primary.white--text
      .display-1 Weeks in the life of {{$store.auth.data.name}}.
    v-card-text
      v-layout(column, nowrap)
        v-flex(shrink)
          v-layout(row, nowrap)
            v-flex(v-for="j, week in new Array(52)")
              .d-block(v-if="!(week % 5)") {{week + 1}}
        v-flex(shrink,v-for="year, yearN in grid")
          v-layout(row, nowrap)
            v-flex(v-for="week, weekN in year")
              .week(@click="activeData = [ yearN, weekN ]; content = activeItem.content; active=true")
                .d-block.pa-1(:class="grid[yearN][weekN].content !== null ? 'primary' : 'grey'")
      v-dialog(lazy, v-model="active")
        v-card(v-if="activeData")
          v-card-title.primary.white--text
            span.headline Week {{activeData[0] * 52 + activeData[1] + 1}}
            span.ml-2.subheading (Year {{activeData[0] + 1}} Week {{activeData[1] + 1}})
          v-card-text
            v-textarea(placeholder="No entry",
              solo, flat, auto-grow, v-model="activeItem.content")
          v-card-actions
            v-spacer
            v-btn(color="primary", flat, @click="active = false") Cancel
            v-btn(color="primary", depressed, @click="createEntry(activeData[0], activeData[1])") Save
                    
